body {
  margin: 0;
  padding: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.item-a {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

.item-b {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  text-align: center;
}

.item-c {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}

button {
  background-color: darkgreen;
  border: none;
  padding: 0.7em;
  color: white;
  display: block;
  -webkit-transition: 0.5s;
}

button:hover {
  background-color: forestgreen;   
  -webkit-transition: 0.5s;
}

#face {
  height: 20vw;
  -webkit-transition: 0.5s;
}